alembic
fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
pytest
httpx
python-dotenv
joblib
numpy
pandas
scikit-learn
prometheus-client
prometheus-fastapi-instrumentator
email-validator
tqdm
minio
